/* --------- Header --------- */

.header {
    width: 100%;
}

/* --- Navbar --- */

.srh_logo_link {
    max-width: 15%;
    max-height: 100%;
}

li a .active {
    color: #DF4807;
}

li a .nav-link:hover, .nav-item:hover {
    color: #DF4807;
}

/* --------- Body --------- */

.main {
    padding-top: 15px;
}

/* --- Details Page --- */

.text_right {
    text-align: right;
    align-items: end;
}

.text_left {
    text-align: left;
    align-items: start;
}

.detail__img {
    max-width: 100%;
}

/* --- Links --- */

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


/*a:hover { text-decoration: none; }*/


a:active {
    text-decoration: none;
    color: #DF4807;
}


/* --- Pagination --- */

/* --- Table --- */

.table {
    max-width: fit-content;
    justify-items: auto;
    margin: 15px auto;
}

.td .th {
    margin: 0 15px;
    min-width: 1000px;
}

/* --- Forms --- */

.nutzer, .autor, .verlag, .buch .ausleihe {
    width: 95%;
}



/* --------- Footer --------- */
