{% extends "base.html" %}
{% block content %}
<div class="columns is-centered is-half">
    <form method="post" class="is-half">
        <div class="field box">
        {% csrf_token %}
            {% for field in form %}
                <div class="control field">
                {% if field.name == 'autor' %}
                    <label class="label">{{ field.label }}</label>
                    <div class="select is-multiple">{{ field }}</div>
                {% else %}
                    <label class="label">{{ field.label }}</label>
                    <div class="control">{{ field }}</div>
                {% endif %}
                </div>
            {% endfor %}
        <button type="submit" name="ausleih" class="button is-primary is-centered">Submit</button>
        </div>
    </form>
</div>
{% endblock %}