{% extends "base.html" %}
{% block content %}
<div class="columns is-centered is-half">
    <form method="post" class="is-half">
        <div class="field box">
        {% csrf_token %}
            {% for field in form %}
                <div class="control field">
                {% if field.name == 'autor' %}
                    <label class="label">{{ field.label }}</label>
                    <div class="select is-multiple">{{ field }}</div>
                {% else %}
                    <label class="label">{{ field.label }}</label>
                    <div class="control">{{ field }}</div>
                {% endif %}
                </div>
            {% endfor %}
        <button type="submit" name="update" class="button is-primary is-left" value="{{ id }}">Speichern</button>
        <button type="button" name="cancel" class="button is-warning is-right" onclick="history.back()">Abbrechen</button>
        </div>
    </form>
</div>
{% endblock %}