{% extends "base.html" %}
{% block content %}
    <title>SRH Bücherei</title>
    {% if not auswahl %}
        <form method="post">
            <input type="submit" name="auswahl" value="Autor"><br>
            <input type="submit" name="auswahl" value="Buch"><br>
            <input type="submit" name="auswahl" value="Verlag"><br>
            <input type="submit" name="auswahl" value="Ausleih"><br>
            <input type="submit" name="auswahl" value="Nutzer"><br>
        </form>
    {% elif auswahl == "nutzer" %}
        <form method="post">
            Search: <input type="text" name="search">
            <input type="hidden" name="auswahl" value="nutzer">
            <input type="submit">
        </form>
        {% if users %}
        <p>
            <table>
                <tr>
                    <th class="th">AusweisID</th>
                    <th class="th">Vorname</th>
                    <th class="th">Nachname</th>
                    <th class="th">Stra0e</th>
                    <th class="th">PLZ</th>
                </tr>
                {% for user in users %}
                    <tr>
                        <td class="td">{{ user.ausweisID }}</td>
                        <td class="td">{{ user.name }}</td>
                        <td class="td">{{ user.nachname }}</td>
                        <td class="td">{{ user.strasse }}</td>
                        <td class="td">{{ user.plz }}</td>
                    </tr>
                {% endfor %}
            </table>
        </p>
        {% endif %}
    {% elif auswahl == "buch" %}
        <form method="post">
            Search: <input type="text" name="search">
            <input type="hidden" name="auswahl" value="buch">
            <input type="submit">
        </form>
        {% if books %}
        <p>
            <table>
                <tr>
                    <th class="th">ISBN</th>
                    <th class="th">Titel</th>
                    <th class="th">Autor</th>
                    <th class="th">Verlag</th>
                    <th class="th">Genre</th>
                </tr>
                {% for buch in books %}
                    <tr>
                        <td class="td">{{ buch.isbn }}</td>
                        <td class="td">{{ buch.titel }}</td>
                        <td class="td">{{ buch.autor }}</td>
                        <td class="td">{{ buch.verlag }}</td>
                        <td class="td">{{ buch.genre }}</td>
                    </tr>
                {% endfor %}
            </table>
        </p>
        {% endif %}
    {% elif auswahl == "verlag" %}
        <form method="post">
            Search: <input type="text" name="search">
            <input type="hidden" name="auswahl" value="verlag">
            <input type="submit">
        </form>
        {% if publishers %}
        <p>
            <table>
                <tr>
                    <th class="th">VerlagID</th>
                    <th class="th">Name</th>
                    <th class="th">Stra0e</th>
                    <th class="th">PLZ</th>
                </tr>
                {% for publisher in publishers %}
                    <tr>
                        <td class="td">{{ publisher.verlagID }}</td>
                        <td class="td">{{ publisher.name }}</td>
                        <td class="td">{{ publisher.strasse }}</td>
                        <td class="td">{{ publisher.plz }}</td>
                    </tr>
                {% endfor %}
            </table>
        </p>
        {% endif %}
    {% endif %}

{% endblock %}